# =========================
# Dataset (VERY IMPORTANT)
# =========================
data/
outputs/

# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
env/
venv/
.venv/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log*.pth
web-app/checkpoints/
